<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias HTML</title>
</head>
<body>
    <script> // aqui faremos jinja (FLASK + JS)
        var data = {{ data.categorias | tojson }} 
        var paragrafos = data.map(function(categoria){
            return '<p>' + categoria.categoria + '</p>';

        })

        document.body.innerHTML += paragrafos.join(''); /* pegando o corpo dp documento */
        console.table(data) 
    </script>

</body>
</html>