<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias HTML</title>
</head>
<body>
    <input type="text" id="categoria" placeholder="Categoria" name="categoria">
    <input type="number" id="id_categoria" name="id_categoria" placeholder="Id Categoria">

    <button id="enviar">Enviar</button>
</body>

<script>
    function enviarCat(){
        var id_categoria = document.getElementById('id_categoria').value
        var categoria = document.getElementById('categoria').value

        var dados = {
            id_categoria: id_categoria,
            categoria: categoria
        }

        const response = fetch('http://localhost:3000/categoria', {
            method: 'POST',
            headers: {'Contente-Type' : 'Application/Json'},
            body: JSON.stringify(dados)
        })
    }

    document.getElementById('enviar').addEventListener('click', () => enviarCat())


</script>
</html>